In [3]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [4]:
#Create a simple dataframe with some missing values 
df=pd.DataFrame({'A':[1,2,np.nan,4,5],'B':[np.nan,2,3,4,5],'C':[1,2,3,np.nan,np.nan]})

In [5]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  5.0  NaN

In [6]:
#Create an instance of SimpleImputer with Mean Strategy 
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [8]:
#Perform the imputation on the dataframe
df_imputed=pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
df_imputed

     A    B    C
0  1.0  3.5  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  4.0  4.0  2.0
4  5.0  5.0  2.0